.Gallery {
  display: block;
  width: 100%;
  height: 440px;
  object-fit: cover;
  /* 
      
       [clip-path coordinates]
      
        --A-F--
       B|/   \|E    coord.
        |\   /|       A(a/w, 0)
        --C-D--       B(0, 50%)
                      C(a/w, 100%)
                      D(100% - a/w, 100%)
                      E(100%, 50%)
                      F(100% - a/w, 0)
                    where a/w = 0.24999999999
      */
  --aw: 24.9999999%;
  clip-path: polygon(var(--aw) 0,
    0 50%,
    var(--aw) 100%,
    calc(100% - var(--aw)) 100%,
    100% 50%,
    calc(100% - var(--aw)) 0);
}

@media only screen and (max-width: 600px) {
  li.Gallery {
    position: static;
  }

  img.Gallery {
    height: 100%;
  }

  .line-1,
  .line-2,
  .line-3 {
    font-size: 1rem
  }
}

.contact-section .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(0, 0, 0, 0.22);
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(255, 255, 255, .3);
  margin-bottom: 3rem;
}

.bg-gradient {
  background-color: linear-gradient(to bottom, #161616 0, rgba(22, 22, 22, .9) 75%, rgba(22, 22, 22, .8) 100%) !important;
}

.intro {
  padding-left: 10% !important;
}

footer {
  margin-top: 3rem;
}

.line-1,
.line-2,
.line-3 {
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%)
}

@keyframes typeWriter {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

.line-1 {
  animation: typeWriter 2s steps(80) 4s 1 normal both;
}

.line-2 {
  animation: typeWriter 2s steps(80) 3s 1 normal both;
}

.line-3 {
  animation: typeWriter 2s steps(80) 1s 1 normal both;
}

.arrow {
  font-size: 2em;
  color: #ffffff;
}

.parentArrow {
  position: relative;
  animation: ArrowDown1 2s linear infinite;
}

@keyframes ArrowDown1 {
  0% {
    top: 0%;
  }

  12.5% {
    top: 3.5%;
  }

  25% {
    top: 7%;
  }

  37.5% {
    top: 3.5%;
  }

  50% {
    top: 0;
  }

  62.5% {
    top: -3.5%;
  }

  75% {
    top: -7%;
  }

  87.5% {
    top: -3.5%;
  }

  100% {
    top: 0;
  }
}

.background {
  background-image: url("../img/photo-1483706571191-85c0c76b1947.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.bodyBackground {
  /*   background: -webkit-gradient(linear, left top, left bottom, from(#161616), color-stop(75%, rgba(22, 22, 22, .9)), to(rgba(22, 22, 22, .8)));
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(22, 22, 22)), color-stop(0.75, rgba(22, 22, 22, 0.9)), to(rgba(22, 22, 22, 0.8)));
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;

  background: linear-gradient(to bottom, #161616 0, rgba(22, 22, 22, .9) 75%, rgba(22, 22, 22, .8) 100%);
  background-image: linear-gradient(rgb(22, 22, 22) 0px, rgba(22, 22, 22, 0.9) 75%, rgba(22, 22, 22, 0.8) 100%);
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial; */

  /* background-image: url("../img/bodyBack/keyboard_2880x1800.png")!important */

  background-color: #0000001c;
}

.Mrbox {
  margin: 10px;
}


.text {
  list-style: none;
  border-bottom: 0;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  max-width: 2em;
}



.text.hidden .ghost {
  opacity: 0;
  max-width: 0;
}