/* 3D Slideshow */

.slideshow {
  margin: 0 auto;
  padding-top: 45px;
  height: 400px;
  width: 100%;
  background-color: #f2f2f200;
  box-sizing: border-box;
}

.skills-container {
  margin: auto;
  width: 190px;
  perspective: 1000px;
  position: relative;
  padding-top: 70px;
}

.skills-carousel {
  width: 100%;
  /* position: absolute; */
  float: right;
  animation: skills-animate 30s infinite linear;
  transform-style: preserve-3d;
}

.skills-carousel:hover {
  animation-play-state: paused;
  cursor: pointer;
}

.skills-carousel figure {
  width: 100%;
  height: 120px;
  border: 1px solid #3b444b;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-carousel figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(350px);
}

.skills-carousel figure:nth-child(2) {
  transform: rotateY(32.7deg) translateZ(350px);
}

.skills-carousel figure:nth-child(3) {
  transform: rotateY(65.4deg) translateZ(350px);
}

.skills-carousel figure:nth-child(4) {
  transform: rotateY(98.1deg) translateZ(350px);
}

.skills-carousel figure:nth-child(5) {
  transform: rotateY(130.8deg) translateZ(350px);
}

.skills-carousel figure:nth-child(6) {
  transform: rotateY(163.5deg) translateZ(350px);
}

.skills-carousel figure:nth-child(7) {
  transform: rotateY(196.2deg) translateZ(350px);
}

.skills-carousel figure:nth-child(8) {
  transform: rotateY(228.9deg) translateZ(350px);
}

.skills-carousel figure:nth-child(9) {
  transform: rotateY(261.6deg) translateZ(350px);
}

.skills-carousel figure:nth-child(10) {
  transform: rotateY(294.3deg) translateZ(350px);
}

.skills-carousel figure:nth-child(11) {
  transform: rotateY(327deg) translateZ(350px);
}


.skills-slide {
  position: absolute;
  box-shadow: 0px 0px 20px 0px #757575;
  border-radius: 1px;
  background-color: #8b8e9e9e;
}

.skills-carousel img {
  image-rendering: auto;
  transition: all 300ms;
  width: 100px;
  height: 110px;
  padding: 7px;
  /* filter: grayscale(5%); */
}

.skills-carousel img:hover {
  transform: scale(1.2);
  transition: all 300ms;
}

.skills-logo {
  object-fit: contain;
}

@keyframes skills-animate {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

@media (max-width: 767px) {
  .slideshow {
    overflow: hidden;
    height: 270px;
  }

  .skills-carousel figure {
    width: 100%;
    height: 90px;
  }

  .skills-carousel img {
    width: 100%
  }

  .skills-container {
    width: 80px;
    padding-top: 35px;
  }

  .skills-carousel figure:nth-child(1) {
    transform: rotateY(32.7deg) translateZ(150px);
  }

  .skills-carousel figure:nth-child(2) {
    transform: rotateY(65.4deg) translateZ(150px);
  }

  .skills-carousel figure:nth-child(3) {
    transform: rotateY(98.1deg) translateZ(150px);
  }

  .skills-carousel figure:nth-child(4) {
    transform: rotateY(130.8deg) translateZ(150px);
  }

  .skills-carousel figure:nth-child(5) {
    transform: rotateY(163.5deg) translateZ(150px);
  }

  .skills-carousel figure:nth-child(6) {
    transform: rotateY(196.2deg) translateZ(150px);
  }

  .skills-carousel figure:nth-child(7) {
    transform: rotateY(228.9deg) translateZ(150px);
  }

  .skills-carousel figure:nth-child(8) {
    transform: rotateY(261.6deg) translateZ(150px);
  }

  .skills-carousel figure:nth-child(9) {
    transform: rotateY(294.3deg) translateZ(150px);
  }

  .skills-carousel figure:nth-child(10) {
    transform: rotateY(327deg) translateZ(150px);
  }

  .skills-carousel figure:nth-child(11) {
    transform: rotateY(360deg) translateZ(150px);
  }
}